APP_ENV=development

DB_DRIVER=sqlite
DB_PATH=database/artemis.db

# mysql
# DB_DRIVER=mysql
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=artemis
# DB_USER=root
# DB_PASS=

CORS_ORIGIN=http://192.168.1.100
# Multiple origin
# CORS_ORIGIN=http://192.168.1.100,http://192.168.1.101,https://myapp.com

# Rate Limiter
RATE_LIMIT_MAX=60
RATE_LIMIT_WINDOW=60

# SNAP BI
SNAP_CLIENT_ID=
SNAP_CLIENT_SECRET=
SNAP_BASE_URL=
SNAP_PRIVATE_KEY=
SNAP_PUBLIC_KEY=